# (2024-02-13): zLabs | Black | Not needed with Bun, yeah, no more hoist-craze, yeah! 😻
# (2024-03-01 12:36): zLabs | Black | UPDATE: But leaving these for compatibility with PNPM, yeah, yeah!
#                                     Whereby so far only our `WASM` import of `SurrealDB` fails without shameful hoisting, yeah, yeah, yeah! 😹💦
shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true
